 .swiper-slide{
width: 1;

}
.productcolor:hover{
    position:relative;
}
.cartabledetails{
    font-size:14px;
    font-weight:400;
}
.btn-primary{
    background-color:#c2b59c;
    border:none;
}
.btn-primary:hover{
    background-color:#c2b58c;
    
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle{
    background-color:#c2b58c;
    border:none;
}
.login-footer .check-form input[type=checkbox]:checked + .form-check-label:before{
    background-color:#c2b58c;
    border-color:#c2b58c;
}
/* a:hover{
    color:#c2b58c;
} */
.btn-fill-out{
    border:1px solid #c2b58c;
}
.btn-fill-out:hover{
    color:#c2b58c !important;
}
.btn-fill-out::before, .btn-fill-out::after{
    background-color:#c2b58c;
}
.product-grid__info .product-price span.price, .product-list__info .product-price span.price{
    color:#c6b478;
}
a:hover{
color:#c6b478;
}
.navigation > ul > li:hover > .nav-link, .navigation > ul > li:hover > svg{
    color:#c6b478;
}
.sub-menu--one-column > li > a:hover{
    color:#c6b478;
}
.header-icons > li > button:hover{
    color:#c6b478;
}
.cart-count{
    background-color: #c6b478;
}
.sidebar .widget__categories li a:hover, .sidebar .widget__categories li a.active, .sidebar .widget__categories li button:hover, .sidebar .widget__categories li button.active{
    color:#c6b478;
}
.product-content__price .price{
    color:#c6b478;
}
.product-content__sort-info ul li svg{
    color:#c6b478;
}
.product-description-tab__navigation .nav-item .nav-link.active{
    color:#c6b478;
    border-bottom:2px solid #c6b478;
}
.scroll-top:hover{
    background-color:#c6b478;
}
.page-link{
    color:black;
}
.page-link:hover{
    color:#c6b478;
}
.footer-dark{
    background-color:#58595b;
}
.widget-title{
    color:#c2b59c;
    font-size:40px;
}
.footer-text{
/*     padding:15px 10px; */
    font-size:15px;
}
.footer-top{
    padding:41px 0 2px;
}
.border-top--grey{
    border-top:2px solid #c2b59c;
}
.contact-info>li a:hover{
    color:#c6b478;
}
.footer-dark a:hover, .footer-dark .widget-links li a:hover, .widget-links li a:hover, .footer-dark .footer-link li a:hover, .footer-link li a:hover{
    color:#c6b478;
}