 .swiper-slide{
width: 1;

}
.productcolor:hover{
    position:relative;
}
.cartabledetails{
    font-size:14px;
    font-weight:400;
}
.btn-primary{
    background-color:#c2b59c;
    border:none;
}
.btn-primary:hover{
    background-color:#c2b58c;
    
}